.modal
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  margin-top: 12px
  left: 520px
  background-color: white

  .content
    background-color: white
    border-radius: 12px
    box-shadow: 0 8px 12px #091e4226, 0 0 1px #091e424f
    max-height: 385px
    width: 300px
    padding-left: 12px
    padding-right: 12px


    .body
      padding-top: 20px

    .footer
      display: flex
      flex-direction: column
      padding-top: 25px
      padding-bottom: 20px

      button
        border: 1px solid #e9e9e9
        padding-top: 5px
        padding-bottom: 5px
        background-color: #e9e9e9

        &:first-child
          border-radius: 3px
          margin-bottom: 10px
