.navbar
  height: 50px
  border-bottom: 1px solid
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 80px
  position: relative

  .logo
    font-weight: bold
    cursor: pointer

  .links
    display: flex
    justify-content: space-between

    .link

      a
        margin-right: 20px
        text-decoration: none
        color: black
