.header
  position: relative
  height: 50px
  border-bottom: 1px solid #e7e7e7
  display: flex
  justify-content: space-between
  align-items: center
  padding: 8px

  .links
    display: flex
    justify-content: space-between
    padding-left: 20px
    .link
      a
        text-decoration: none
        color: black
        padding-right: 20px
        padding-left: 10px
        float: left



.leftNav
  button
    border: none
    background: none
    cursor: pointer

.rightNav


.btnCreate
  cursor: pointer
  margin-right: 10px
  background-color: #e9e9e9 !important
  border-radius: 3px
  border: none
  padding-top: 8px
  padding-bottom: 8px
  width: 120px

.btnlogOut
  cursor: pointer
  border: none
  background: none
