.header
  position: relative
  background: white
  border-bottom: 1px solid black

  .container
    align-items: center
    display: flex
    justify-content: space-between
    max-height: 60px
    margin: 0 auto
    padding: 16px 20px 16px 20px

    .links
      display: flex
      padding-left: 20px

      .menuLog
        position: relative
        display: inline-block

        .accountLogo
          cursor: pointer
          width: 40px

        .accountLogo:hover
          transform: scale(1.1)

      .dropdownContent
        background-color: white
        display: none
        position: absolute
        min-width: 100px
        z-index: 1
        right: -20px
        top: 45px
        width: 200px
        border-radius: 10px

      .dropdownContent a
        border-radius: 10px
        color: black
        padding: 12px 16px
        text-decoration: none
        display: block

      .dropdownContent a:hover
        background-color: #fccf3d

      .menuLog:hover .dropdownContent
        display: block

    .menu
      display: flex
      flex-direction: row
      flex-wrap: wrap
      align-items: center
      justify-content: space-between

      .leftNav
        button
          cursor: pointer
          font-weight: 700

      .btnLogOut
        cursor: pointer
        border: none
        background: none
        font-weight: 700




